body{

  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

form{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

input{ margin: 0 0 20px 0; }

label{ margin: 0 20px; }

label[for='amount']{   margin: 0; }

label[for='amount'], input[type=number], input[type=submit]{

  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}

input[type=submit]{

  padding: 10px 10px;

}
