*, html, body{ margin: 0; padding: 0; font-family: 'Lato', sans-serif; box-sizing: border-box;}

body{  background-color: rgba(245, 246, 250,0.5); }

.container_bet_0{

  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #ccc;

}

.container_bet_1{

  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #FFF;

}

.container_bet_0 span, .container_bet_1 span{

  display: block;

}

.validMessage{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #27ae60;
  color: #FFF;
  font-size: 18px;
  line-height: 36px;

}

.validMessage span{

  position: relative;
  left: 20px;

}

.validMessage a{

    position: relative;
    float: right;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    font-size: 15px;
    transition: 1s;
}

.accordion::before{

    content: "+";
    position: relative;
    left: 98%;
    color: grey;

}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

.profil_information{

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(245, 246, 250,0.5);
  text-align: center;

}

.profil_information span{

  display: block;
  margin: 0 0 10px 0;

}

.profil_information_pseudo{ font-size: 30px; color: rgba(25, 42, 86,1.0);}
.profil_information_email{ color: rgba(41, 128, 185,1.0); font-size: 20px;}
.profil_information_email::before { content: 'Email: '; position: relative; color: rgba(39, 60, 117,1.0); font-size: 20px;}
.profil_information_point{ color: rgba(41, 128, 185,1.0); font-size: 20px;}
.profil_information_point::before { content: 'Email: '; position: relative; color: rgba(39, 60, 117,1.0); font-size: 20px;}
.profil_information_deco{ color: rgba(41, 128, 185,1.0); font-size: 20px; text-decoration: none;}
